# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/

# =========================
# Models (LLMs)
# =========================
models/models/
*.gguf

# =========================
# Vector DB / Index files
# =========================
*.faiss
*.index

# =========================
# Logs / Temp files
# =========================
*.log
tmp/
data/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
